@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

.footer-bg {
  clip-path: polygon(0% 24%, 100% 0%, 100% 100%, 0% 100%);
}

.qa-con {
  clip-path: polygon(0% 6.8%, 100% 0%, 100% 92.8%, 0% 100%);
  background-color: #bcd55d;
}

/* .navbar-polygon {
  position: relative;
  border: 1px solid white;
  border-top: none;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 100%);
  background-color: transparent;
} */
